@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <a asp-controller="Home" asp-action="ParseFile">First method</a>
    <a asp-controller="Home" asp-action="GetResults">Second method</a>
    <a asp-controller="Home" asp-action="GetValuesbyFilename">Third method</a>
</div>
